[Unit]
Description=Monad Indexer (monad-services)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=monad
Group=monad
StateDirectory=monad-services
WorkingDirectory=/var/lib/monad-services
EnvironmentFile=-/etc/monad-services/env
ExecStart=/usr/lib/monad-services/monad-archive index
Restart=always
RestartSec=5
DeviceAllow=/dev/triedb rw
LimitNOFILE=1048576
# Hugemem configs below
LimitMEMLOCK=infinity
MemoryDenyWriteExecute=false
ProtectKernelModules=no
ProtectKernelLogs=no

[Install]
WantedBy=multi-user.target
